#canvas {
    border: 1px solid black;
    position: absolute;
    left: 1310px;
    top: 1040px;
  }

#video1{
    position: absolute;
    left: 1450px;
    top: 1040px; 
}
  
  #detectionAction{
    width: 10px;
    height: 10px;
    background: blueviolet;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 955px;
    left: 1320px;
    z-index: 1;
  }

  
.cuadrito {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: grey;
    border-radius: 3px;
}

.cuadrito2 {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: yellow;
    border-radius: 3px;
}

.cuadrito3 {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: blue;
    border-radius: 3px;
}

.cuadrito4 {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: red;
    border-radius: 3px;
}

.cuadrito5 {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: green;
    border-radius: 3px;
}

.cuadrito6 {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: rgb(231, 141, 37);
    border-radius: 3px;
}

.cuadrito7 {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background-color: rgb(204, 1, 223);
    border-radius: 3px;
}

.botonactivar {
    position: absolute;
    top: 110px;
    right: 70px;
    display: inline-block;
    background-color: #d19af1;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn {
    position: absolute;
    top: 110px;
    left: 30px;
    display: inline-block;
    background-color: #d19af1;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(240, 199, 250);
    color: black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    z-index: 9999;
}

.alerta.mostrando {
    display: block;
}

.sin-numero {
    list-style-type: none;
}


.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    font-family: Georgia, sans-serif;
}

/*Objetos habitacion principal*/
.puertahabprincipal {
    position: absolute;
    top: 783px;
    left: 733px;
    width: 5px;
    height: 68px;
    border: 2px solid black;
}

.ventanahabprincipal {
    position: absolute;
    top: 466px;
    left: 285px;
    width: 83px;
    height: 7px;
    background-color: white;
    border: 2px solid black;
}

.bombillohabprincipal {
    position: absolute;
    top: 512px;
    left: 304px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

.calefacionhabprincipal {
    position: absolute;
    top: 697px;
    left: 325px;
    width: 8px;
    height: 16px;
    border: 2px solid black;
}

.tvhabprincipal {
    position: absolute;
    top: 800px;
    left: 390px;
    width: 100px;
    height: 7px;
    border: 2px solid black;
}

/*Objetos habitacion principal 2*/
.puertahabprincipal2 {
    position: absolute;
    top: 783px;
    left: 920px;
    width: 64px;
    height: 8px;
    border: 2px solid black;
}

.ventanahabprincipal2 {
    position: absolute;
    top: 466px;
    left: 830px;
    width: 75px;
    height: 7px;
    background-color: white;
    border: 2px solid black;
}

.bombillohabprincipal2 {
    position: absolute;
    top: 506px;
    left: 841px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

.calefacionhabprincipal2 {
    position: absolute;
    top: 655px;
    left: 941px;
    width: 15px;
    height: 10px;
    border: 2px solid black;
}

.tvhabprincipal2 {
    position: absolute;
    top: 733px;
    left: 688px;
    width: 79px;
    height: 7px;
    border: 2px solid black;
}

/*Objetos habitacion 3*/
.puertahab3 {
    position: absolute;
    top: 783px;
    left: 1156px;
    width: 5px;
    height: 68px;
    border: 2px solid black;
}

.ventanahab3 {
    position: absolute;
    top: 652px;
    left: 1494px;
    width: 8px;
    height: 75px;
    background-color: white;
    border: 2px solid black;
}

.bombillohab3 {
    position: absolute;
    top: 508px;
    left: 1226px;
    width: 27px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

.calefacionhab3 {
    position: absolute;
    top: 661px;
    left: 1212px;
    width: 19px;
    height: 9px;
    border: 2px solid black;
}

/*Objetos baño principal*/
.puertabañoprincipal {
    position: absolute;
    top: 850px;
    left: 264px;
    width: 85px;
    height: 6px;
    border: 2px solid black;
}

.ventanabañoprincipal {
    position: absolute;
    top: 924px;
    left: 253px;
    width: 7px;
    height: 48px;
    background-color: white;
    border: 2px solid black;
}

.bombillobañoprincipal {
    position: absolute;
    top: 955px;
    left: 413px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Objetos baño2*/
.puertabaño2 {
    position: absolute;
    top: 777px;
    left: 996px;
    width: 65px;
    height: 8px;
    border: 2px solid black;
}

.ventanabaño2 {
    position: absolute;
    top: 466px;
    left: 1038px;
    width: 75px;
    height: 7px;
    background-color: white;
    border: 2px solid black;
}

.bombillobaño2 {
    position: absolute;
    top: 634px;
    left: 1006px;
    width: 12px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Objetos zonalavado*/
.puertazonalavado {
    position: absolute;
    top: 1033px;
    left: 368px;
    width: 6px;
    height: 65px;
    border: 2px solid black;
}

.ventanazonalavado {
    position: absolute;
    top: 1300px;
    left: 275px;
    width: 75px;
    height: 7px;
    background-color: white;
    border: 2px solid black;
}

.bombillozonalavado {
    position: absolute;
    top: 1040px;
    left: 288px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Objetos cocina */

.ventanacocina {
    position: absolute;
    top: 1300px;
    left: 600px;
    width: 75px;
    height: 6px;
    background-color: white;
    border: 2px solid black;
}

.bombillococina {
    position: absolute;
    top: 1063px;
    left: 568px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Objetos alacena */

.puertaalacena {
    position: absolute;
    top: 1222px;
    left: 688px;
    width: 7px;
    height: 62px;
    border: 2px solid black;
}

.bombilloalacena {
    position: absolute;
    top: 1215px;
    left: 804px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Objetos sala*/
.puertasala {
    position: absolute;
    top: 878px;
    left: 1242px;
    width: 12px;
    height: 75px;
    border: 2px solid black;
}

.ventanasala {
    position: absolute;
    top: 1070px;
    left: 1244px;
    width: 7px;
    height: 93px;
    background-color: white;
    border: 2px solid black;
}

.bombillosala {
    position: absolute;
    top: 881px;
    left: 1080px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

.calefacionsala {
    position: absolute;
    top: 886px;
    left: 792px;
    width: 10px;
    height: 24px;
    border: 2px solid black;
}

/*Objetos parqueadero*/
.puertaentradapar {
    position: absolute;
    top: 1465px;
    left: 897px;
    width: 102px;
    height: 12px;
    border: 2px solid black;
}

.puertaentradasalapar {
    position: absolute;
    top: 1298px;
    left: 915px;
    width: 56px;
    height: 13px;
    border: 2px solid black;
}

.bombilloparqueadero {
    position: absolute;
    top: 1349px;
    left: 972px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*Objetos roseador*/
.roseador1 {
    position: absolute;
    top: 1438px;
    left: 1454px;
    width: 87px;
    height: 9px;
    border: 2px solid black;
}

.roseador2 {
    position: absolute;
    top: 1570px;
    left: 300px;
    width: 87px;
    height: 9px;
    border: 2px solid black;
}

.aspiradora {
    position: absolute;
    top: 1140px;
    left: 798px;
    width: 30px;
    height: 9px;
    border: 2px solid black;
}

.cambiodecolor {
    background-color: red;
}

.cambiodecolorventanacalefaccion {
    background-color: green;
}

.cambiodecolortv {
    background-color: green;
}

.cambiodecolorbombillo {
    background-color: yellow;
}