
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: Georgia, sans-serif;
}

.container {
  justify-content: center;
  background-color: #9ee9ab;
  width: 320px;
  height: 580px;
  border-radius: 19px;
  padding: 40px;
}
  
  .btn{
    display: block;
    margin: auto;
  }

  .imagen-pequeña {
    width: 200px;
    height: 200px;
    }

    .centrado2{
      text-align: center;   
    }