.cuadrito {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 3px;
}

.cuadrito2 {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color: yellow;
  border-radius: 3px;
}

.cuadrito3 {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color: blue;
  border-radius: 3px;
}

.cuadrito4 {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color: red;
  border-radius: 3px;
}

.cuadrito5 {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color: green;
  border-radius: 3px;
}

.cuadrito6 {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color:  rgb(231, 141, 37);
  border-radius: 3px;
}

.cuadrito7 {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-color: rgb(204, 1, 223);
  border-radius: 3px;
}
.botonactivar {
  position: absolute;
  top: 110px;
  right: 70px;
  display: inline-block;
  background-color: #d19af1;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn {
  position: absolute;
  top: 110px;
  left: 30px;
  display: inline-block;
  background-color: #d19af1;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(240, 199, 250);
  color: black;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: none;
  z-index: 9999;
}

.alerta.mostrando {
  display: block;
}

.sin-numero {
  list-style-type: none;
}  

.centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  font-family: Georgia, sans-serif;
}

.mainroomdoor {
  position: absolute;
  top: 779px;
  left: 733px;
  width: 5px;
  height: 68px;
  border: 2px solid black;
}

.mainroomwindow {
  position: absolute;
    top: 461px;
    left: 289px;
    width: 82px;
    height: 7px;
    background-color: white;
    border: 2px solid black;
}

.mainroomlightbulb {
  position: absolute;
  top: 508px;
  left: 304px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.mainroomheating {
  position: absolute;
  top: 692px;
  left: 325px;
  width: 8px;
  height: 16px;
  border: 2px solid black;
}

.mainroomtv {
  position: absolute;
  top: 800px;
  left: 390px;
  width: 100px;
  height: 7px;
  border: 2px solid black;
}

/*Objects main room 2*/
.roomdoor2 {
  position: absolute;
  top: 772px;
  left: 920px;
  width: 65px;
  height: 8px;
  border: 2px solid black;
}

.windowroom2 {
  position: absolute;
  top: 461px;
  left: 832px;
  width: 75px;
  height: 7px;
  background-color: white;
  border: 2px solid black;
}

.lightbulbroom2 {
  position: absolute;
  top: 501px;
  left: 841px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.heatingroom2 {
  position: absolute;
  top: 650px;
  left: 941px;
  width: 15px;
  height: 10px;
  border: 2px solid black;
}

.tvroom2 {
  position: absolute;
    top: 728px;
    left: 688px;
    width: 79px;
    height: 7px;
    border: 2px solid black;
}

/*Objects main room 3*/
.roomdoor3 {
  position: absolute;
    top: 778px;
    left: 1156px;
    width: 5px;
    height: 68px;
    border: 2px solid black;
}

.windowroom3 {
  position: absolute;
  top: 646px;
  left: 1497px;
  width: 8px;
  height: 75px;
  background-color: white;
  border: 2px solid black;
}

.lightbulbroom3 {
  position: absolute;
    top: 503px;
    left: 1226px;
    width: 27px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

.heatingroom3 {
  position: absolute;
  top: 656px;
  left: 1212px;
  width: 19px;
  height: 9px;
  border: 2px solid black;
}

/*Main bathroom objects*/
.mainbathroomdoor {
  position: absolute;
  top: 845px;
  left: 264px;
  width: 85px;
  height: 6px;
  border: 2px solid black;
}

.mainbathwindow {
  position: absolute;
  top: 919px;
  left: 256px;
  width: 7px;
  height: 48px;
  background-color: white;
  border: 2px solid black;
}

.mainbathlight {
  position: absolute;
  top: 950px;
  left: 413px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}


/*Bathroom objects 2*/
.roombathdoor2 {
  position: absolute;
  top: 772px;
  left: 998px;
  width: 65px;
  height: 8px;
  border: 2px solid black;
}

.windowbathroom2 {
  position: absolute;
    top: 461px;
    left: 1040px;
    width: 75px;
    height: 7px;
    background-color: white;
    border: 2px solid black;
}

.bathroomlight2 {
  position: absolute;
    top: 629px;
    left: 1006px;
    width: 12px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*washing area objects*/
.washingareadoor {
  position: absolute;
    top: 1028px;
    left: 368px;
    width: 6px;
    height: 65px;
    border: 2px solid black;
}

.windowwashingarea {
  position: absolute;
  top: 1295px;
  left: 279px;
  width: 75px;
  height: 7px;
  background-color: white;
  border: 2px solid black;
}

.washlight {
  position: absolute;
    top: 1035px;
    left: 288px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

/*kitchen objects*/

.kitchenwindow {
  position: absolute;
  top: 1295px;
  left: 601px;
  width: 75px;
  height: 6px;
  background-color: white;
  border: 2px solid black;
}

.kitchenlight {
  position: absolute;
  top: 1058px;
  left: 568px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

/*cupboard objects*/

.cupboardoor {
  position: absolute;
  top: 1217px;
  left: 688px;
  width: 7px;
  height: 62px;
  border: 2px solid black;
}

.cupboardlight {
  position: absolute;
  top: 1210px;
  left: 804px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}
/*hall objects*/
.mainentrance {
  position: absolute;
  top: 873px;
  left: 1242px;
  width: 12px;
  height: 75px;
  border: 2px solid black;
}
.livingroomwindow {
  position: absolute;
    top: 1065px;
    left: 1247px;
    width: 7px;
    height: 93px;
    background-color: white;
    border: 2px solid black;
}

.roomlight {
  position: absolute;
  top: 877px;
  left: 1080px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.roomheating {
  position: absolute;
  top: 881px;
  left: 792px;
  width: 10px;
  height: 24px;
  border: 2px solid black;
}

/*parking objects*/
.parkingentrance {
  position: absolute;
  top: 1460px;
  left: 897px;
  width: 102px;
  height: 12px;
  border: 2px solid black;
}

.roomentranceparkingdoor {
  position: absolute;
  top: 1294px;
  left: 917px;
  width: 58px;
  height: 13px;
  border: 2px solid black;
}

.parkinglight {
  position: absolute;
  top: 1345px;
  left: 972px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

/*objects Sprayer*/
.Sprayer1 {
  position: absolute;
  top: 1435px;
  left: 1456px;
  width: 87px;
  height: 9px;
  border: 2px solid black;
}

.Sprayer2 {
  position: absolute;
  top: 1565px;
  left: 304px;
  width: 87px;
  height: 9px;
  border: 2px solid black;
}

.aspiradora {
  position: absolute;
  top: 1135px;
  left: 802px;
  width: 30px;
  height: 9px;
  border: 2px solid black;
}
.cambiodecolor{
  background-color: red;
}
.cambiodecolorventanacalefaccion {
  background-color: green;
}
.cambiodecolortv {
  background-color: green;
}
.cambiodecolorbombillo{
  background-color: yellow;
}

