#plano-container {
    width: 100%;
    height: 100vh;
}

#plano-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#boton-activar {
    background-color: #b15de2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block; /* Coloca el botón en línea con la imagen */
			vertical-align: middle; /* Alinea verticalmente el botón con la imagen */
			margin-left: 10px;

  }

  .boton {
    display: inline-block;
    background-color: #4375c0;
    color: white;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    text-align: center;
  }
  
  .container {
    width: 40%; /* Asigna un ancho al contenedor */
    height: 520px;
    background-color: #d19af1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    float: left;
  }
  .container2 {
    width: 50%; /* Asigna un ancho al contenedor */
  	height: 520px;
    background-color: #d19af1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    align-items: center;
    font-family: Georgia, sans-serif;
    float: right;
  }

  .container3 {
    width: 52%; /* Asigna un ancho al contenedor */
  	height: 400px;
    background-color: #d19af1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Georgia, sans-serif;
    float: right;
  }

  .container4 {
    width: 40%; /* Asigna un ancho al contenedor */
  	height: 400px;
    background-color: #d19af1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, sans-serif;
    float: left;
  }

  .content {
    text-align: center; /* Alinear el contenido en el centro horizontal */
  }

  
  #imagen-boton{
    width: 20%;
    height: 30%;
    display: inline-block; /* Coloca el botón en línea con la imagen */
    vertical-align: middle; /* Alinea verticalmente el botón con la imagen */
    margin-left: 10px;
  }
  canvas {
    border: 1px solid black;
     top: 50px;
    top: 50px;
  }
  
  #videoAction, #detectionAction{
   
    width: 250px;
    height: 50px;
    background: blueviolet;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
  }

  #imagen-boton2{
    width: 40%;
    height: 40%;
    display: inline-block; /* Coloca el botón en línea con la imagen */
    vertical-align: middle; /* Alinea verticalmente el botón con la imagen */
    margin-left: 10px;
  }
  


  